.red {
    color: red;
}

.navy {
    color: navy;
}

th {
    background-color: LightGoldenRodYellow;
    border-bottom: 1px solid #000;
    text-align: left;
    padding: 10px;
}

td {
    padding: 10px;
}


img {
    height: auto;
    max-width:100px;
    border:1px solid #021a40;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
